<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %> <%- include('includes/side-drawer') %>
    <main>
      <div class="center">
        <img
          src="https://www.drivereasy.com/wp-content/themes/drivereasy/images/404.png"
          alt="Not found"
        />
        <h2>We can't seem to find the page you're looking for.</h2>
        <p>
          You could try with any of the pages in the menu bar on top, or try out
          the search bar.
        </p>
      </div>
    </main>
  </body>
</html>
