<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="icon"
      href="/images/55b01512-3dfd-4f22-8807-a166922250f3.jpeg"
      type="image/jpg"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/admin.css" />
    <link rel="stylesheet" href="/styles/homepage.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <title>Admin</title>
  </head>
  <body>
      <header>
        <nav>
          <ul>
            <li>
              <img
                id="welcome"
                src="/images/55b01512-3dfd-4f22-8807-a166922250f3.jpeg"
                alt="logo of SpillTheTea"
                id="logo"
              />
            </li>
            <li id="navigate"><a href="login.html">Login</a></li>
            <li id="navigate"><a href="admin.html">Admin</a></li>
            <li id="navigate"><a href="login.html">Logout</a></li>
          </ul>
        </nav>
        
      <h1>Administrate Blog Posts</h1>
    </header>
    <main>
      <div class="admin-card">
        <h3>Create a new post</h3>
        <form action="">
          <label for="postTitle">Title</label>
          <input type="text" name="postTitle" id="postTitle" />

          <label for="postContent">Content</label>
          <textarea name="postContent" id="postContent"></textarea>

          <a class="save-btn" href="login.html">Save</a>
        </form>

        <div class="posts-card">
          <h3>All Blog Posts</h3>
          <ul class="posts">
            <li>apple</li>
            <li>apple</li>
            <li>apple</li>
            <li>apple</li>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
