
section{
    background-color:rgb(130, 241, 153);
    text-align: center;
    box-shadow: 1px 2px 4px grey;
    border-radius: 8px;
    margin: 0.5rem;
    padding: 0.5rem;
  }
  button {
    color: purple ;
    background-color: lightblue;
    display: block;
    margin: auto;
    align-content: center;
  }
  .blue_bg{
    background-color: lavender;
  }
  
  